*{color: white;
    margin: 0;
    padding: 0;
    font-family: garamond;
}
body{
    background-image: url(../images/Background.png);
    background-size: cover;
    
}
main{
    display: flex;
}
h1, h2, h3{
    text-align: center;
    margin: 30px;
}
figure{
    text-align: center;
    margin: 20px;
}
ol, dl{
    padding: 20px;
}
dt{
    padding-top: 5px;
}
#tabelas{
    text-align: center;
}
#personagens{
    width: 300px;
    border-right-style: solid;
}
#OH{
    color: chartreuse;
}
#OB{
    color: red;
}
#exemplo{
    width: 850px;
    margin: 0 auto;
}
