*{margin: 0;
padding: 0;
font-family: garamond
}
h1{
    text-align: center
}
table{
    border-style: solid;
    border-radius: 5%;
    margin: 0 auto;
    width: 50%;
}
td, th{
    text-align: center;
    border-style: solid;
    border-radius: 10%;
}
div{
    margin-bottom: 20px
}
ul, ol{
    padding-left: 50px;
}
li{
    margin: 5px;
}
h2{
    padding-left: 50px;
    margin-bottom: 10px;
}
#positive{
    color: greenyellow
}
#negative{
    color: red;
}
#neutro{
    color: gray;
}
#explicacao{
    display: flex;
    justify-content: center;
}
